body {
    background-color: rgba(0,0,0,0.7);
    font-family: monospace;
}

.todo {
    margin-left: 15%;
    margin-right: 15%;
    color: black;
    overflow: scroll;
}

#todo-div { 
    width: 70%;
    height: 600px;
    margin-top: 10%;
    background-color: lightgray;
    font-size: 16px;
}

#todo-name {
    text-align: center;
    font-size: 22px;
}

.todo-list {
    text-align: left;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
}

#todo-new-task {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.fixed {
    position: sticky;
    background-color: lightgray;
    top: 0px;
    width: 100%;
}

.listing-item {
    float: left;
}
