body {
    background-color: rgba(0,0,0,0.7);
    font-family: monospace;
}

.todo {
    margin-left: 15%;
    margin-right: 15%;
    color: black;
    overflow: scroll;
}

#todo-div { 
    width: 70%;
    height: 600px;
    margin-top: 10px;
    background-color: lightgray;
    font-size: 16px;
    border-radius: 20px;
}

#todo-name {
    text-align: center;
    font-size: 22px;
}

.todo-list {
    text-align: left;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
}

#todo-new-task {
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.fixed {
    position: sticky;
    background-color: lightgray;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
}

.listing-item {
    float: left;
}

.complete {
    text-decoration: line-through;
}

button {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: lightblue;
}

input {
    border-radius: 5px;
    width: 50%;
}

input:focus {
    background-color: lightblue;
}